/*
============================================================================
dark red - yellow
============================================================================
*/

body, .nav-home a, .scrollNav_1 a {
	background-color: #5e1e1e;
}

#skills, .nav-skills a, .scrollNav_2 a {
	background-color: #852a2a;
}

#s-portfolio, .nav-portfolio a, .scrollNav_3 a {
	background-color: #ac3636;
}

#s-contact, .nav-contact a, .scrollNav_4 a {
	background-color: #ffda0b;
}
