/*
============================================================================
deep purple - light green
============================================================================
*/

body, .nav-home a, .scrollNav_1 a {
	background-color: #701b85;
}

#skills, .nav-skills a, .scrollNav_2 a {
	background-color: #9324b0;
}

#s-portfolio, .nav-portfolio a, .scrollNav_3 a {
	background-color: #b432d5;
}

#s-contact, .nav-contact a, .scrollNav_4 a {
	background-color: #d5da49;
}
