/*
============================================================================
navy blue - yellow
============================================================================
*/

body, .nav-home a, .scrollNav_1 a {
	background-color: #002850;
}

#skills, .nav-skills a, .scrollNav_2 a {
	background-color: #004183;
}

#s-portfolio, .nav-portfolio a, .scrollNav_3 a {
	background-color: #005bb6;
}

#s-contact, .nav-contact a, .scrollNav_4 a {
	background-color: #fff982;
}
